openapi: 3.0.3
info:
  title: Strike Perpetuals - Trade REST API
  description: Order and strategy management endpoints for Strike Perpetuals, including owned subaccount trading.
  version: 2.2.0
  contact:
    name: Strike Finance
    url: https://www.strikefinance.org
  x-gitbook-description-document:
    object: document
    data:
      schemaVersion: 9
    nodes:
      - object: block
        type: paragraph
        isVoid: false
        data: {}
        nodes:
          - object: text
            leaves:
              - object: leaf
                text: >-
                  Order and strategy management endpoints for Strike Perpetuals,
                  including owned subaccount trading.
                marks: []
            key: LHzlnXT1FyvE
        key: tlYKluGlyp9T
    key: MdrnDntF7HmC
  x-gitbook-description-html: <p>Order and strategy management endpoints for Strike Perpetuals, including owned subaccount trading.</p>
servers:
  - url: https://api.strikefinance.org
    description: Mainnet
    x-gitbook-description-html: <p>Mainnet</p>
  - url: https://api-v2-testnet.strikefinance.org
    description: Testnet
    x-gitbook-description-html: <p>Testnet</p>
tags:
  - name: Algo
    description: Algorithmic trading strategies (TWAP)
    x-gitbook-description-document:
      object: document
      data:
        schemaVersion: 9
      nodes:
        - object: block
          type: paragraph
          isVoid: false
          data: {}
          nodes:
            - object: text
              leaves:
                - object: leaf
                  text: Algorithmic trading strategies (TWAP)
                  marks: []
              key: OqGxbJBwwYuZ
          key: A4SKUC3JbgdL
      key: P5tiuNOAqgNW
    x-gitbook-description-html: <p>Algorithmic trading strategies (TWAP)</p>
  - name: Grid
    description: Grid trading bot strategies
    x-gitbook-description-html: <p>Grid trading bot strategies</p>
    x-gitbook-description-document:
      object: document
      data:
        schemaVersion: 9
      nodes:
        - object: block
          type: paragraph
          isVoid: false
          data: {}
          nodes:
            - object: text
              leaves:
                - object: leaf
                  text: Grid trading bot strategies
                  marks: []
              key: wh7d0Mb7pnQV
          key: QBDxo5XULHI6
      key: 5BkhmnAWbsq5
  - name: Orders
    description: Order management (create, cancel, query)
    x-gitbook-description-document:
      object: document
      data:
        schemaVersion: 9
      nodes:
        - object: block
          type: paragraph
          isVoid: false
          data: {}
          nodes:
            - object: text
              leaves:
                - object: leaf
                  text: Order management (create, cancel, query)
                  marks: []
              key: YzQCxTXN9eZk
          key: vihhf7ogaURA
      key: OuzKvktc6Sx5
    x-gitbook-description-html: <p>Order management (create, cancel, query)</p>
  - name: Trading
    description: Leverage, margin mode, and isolated margin operations
    x-gitbook-description-document:
      object: document
      data:
        schemaVersion: 9
      nodes:
        - object: block
          type: paragraph
          isVoid: false
          data: {}
          nodes:
            - object: text
              leaves:
                - object: leaf
                  text: Leverage, margin mode, and isolated margin operations
                  marks: []
              key: hQWL2LvfBdtH
          key: WnQ8Ly4TkEJH
      key: bsOhbUPXYGOl
    x-gitbook-description-html: <p>Leverage, margin mode, and isolated margin operations</p>
  - name: History
    description: Order and fill history queries
    x-gitbook-description-document:
      object: document
      data:
        schemaVersion: 9
      nodes:
        - object: block
          type: paragraph
          isVoid: false
          data: {}
          nodes:
            - object: text
              leaves:
                - object: leaf
                  text: Order and fill history queries
                  marks: []
              key: IXln2gmiAd7r
          key: l5mwB0snOSwC
      key: 6znM8cOz9aEa
    x-gitbook-description-html: <p>Order and fill history queries</p>
  - name: Subaccounts
    description: Discover owned subaccounts for trading and account selection
security:
  - ApiWalletAuth: []
    ApiWalletSignature: []
    ApiWalletTimestamp: []
    ApiWalletNonce: []
  - BearerAuth: []
components:
  securitySchemes:
    ApiWalletAuth:
      type: apiKey
      in: header
      name: X-API-Wallet-Public-Key
      description: Ed25519 API-wallet public key (64 hex characters).
    ApiWalletSignature:
      type: apiKey
      in: header
      name: X-API-Wallet-Signature
      description: Ed25519 signature (128 hex characters) over {METHOD}:{PATH_WITH_QUERY}:{TIMESTAMP}:{NONCE}:{SHA256_BODY_HEX}.
    ApiWalletTimestamp:
      type: apiKey
      in: header
      name: X-API-Wallet-Timestamp
      description: Unix timestamp in seconds. It must not be in the future or older than three minutes.
    ApiWalletNonce:
      type: apiKey
      in: header
      name: X-API-Wallet-Nonce
      description: Unique, single-use nonce between 16 and 128 characters.
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Account JWT returned by the authentication flow.
  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
          description: Error message
          x-gitbook-description-html: <p>Error message</p>
        code:
          type: string
          description: Error code
          x-gitbook-description-html: <p>Error code</p>
        msg:
          type: string
          description: Error message (alternative format)
          x-gitbook-description-html: <p>Error message (alternative format)</p>
      required:
        - error
    CreateOrderRequest:
      type: object
      required:
        - symbol
        - side
        - type
        - size
      properties:
        client_order_id:
          type: string
          description: Client-provided order ID for tracking
          example: my-order-001
          x-gitbook-description-html: <p>Client-provided order ID for tracking</p>
        symbol:
          type: string
          description: Trading pair symbol
          example: BTC-USD
          x-gitbook-description-html: <p>Trading pair symbol</p>
        side:
          type: string
          enum:
            - buy
            - sell
          description: Order side
          example: buy
          x-gitbook-description-html: <p>Order side</p>
        type:
          type: string
          enum:
            - limit
            - market
            - stop
            - stop_limit
            - take_profit
            - take_profit_limit
            - trailing_stop_market
          description: Order type
          example: limit
          x-gitbook-description-html: <p>Order type</p>
        size:
          type: string
          description: Order size in base asset
          example: '0.1'
          x-gitbook-description-html: <p>Order size in base asset</p>
        price:
          type: string
          description: Order price (required for limit orders)
          example: '50000.00'
          x-gitbook-description-html: <p>Order price (required for limit orders)</p>
        stop_price:
          type: string
          description: Trigger price for conditional orders
          example: '49500.00'
          x-gitbook-description-html: <p>Trigger price for conditional orders</p>
        time_in_force:
          type: string
          enum:
            - GTC
            - IOC
            - FOK
          default: GTC
          description: |
            Time in force:
            - GTC: Good Till Cancel
            - IOC: Immediate Or Cancel
            - FOK: Fill Or Kill
          example: GTC
          x-gitbook-description-html: |-
            <p>Time in force:</p>
            <ul>
            <li>GTC: Good Till Cancel</li>
            <li>IOC: Immediate Or Cancel</li>
            <li>FOK: Fill Or Kill</li>
            </ul>
        working_type:
          type: string
          enum:
            - mark_price
            - contract_price
          default: mark_price
          description: Price type for trigger evaluation
          x-gitbook-description-html: <p>Price type for trigger evaluation</p>
        post_only:
          type: boolean
          default: false
          description: If true, order will only be maker
          x-gitbook-description-html: <p>If true, order will only be maker</p>
        reduce_only:
          type: boolean
          default: false
          description: If true, order can only reduce position
          x-gitbook-description-html: <p>If true, order can only reduce position</p>
        close_position:
          type: boolean
          default: false
          description: If true, closes entire position when triggered
          x-gitbook-description-html: <p>If true, closes entire position when triggered</p>
        price_protect:
          type: boolean
          default: false
          description: If true, enables price protection
          x-gitbook-description-html: <p>If true, enables price protection</p>
        vault_id:
          type: string
          description: Optional vault ID to trade on behalf of a vault (leader only). Mutually exclusive with sub_account_id.
          example: vault-abc-123
          x-gitbook-description-html: <p>Optional vault ID to trade on behalf of a vault (leader only)</p>
        sub_account_id:
          type: string
          format: uuid
          description: Optional active subaccount owned by the authenticated master account. Mutually exclusive with vault_id.
          example: 019d1935-5bba-726e-a38e-838a892245f3
        callback_rate:
          type: string
          description: >-
            Trail distance as a percentage for trailing_stop_market orders.
            Range: "0.1" to "5". E.g. "1" = 1%.
          example: '5'
          x-gitbook-description-html: >-
            <p>Trail distance as a percentage for trailing_stop_market orders.
            Range: "0.1" to "5". E.g. "1" = 1%.</p>
        activation_price:
          type: string
          description: >-
            Price at which trailing begins. Only for trailing_stop_market
            orders. If omitted, trailing activates immediately at current
            working price.
          example: '67000'
          x-gitbook-description-html: >-
            <p>Price at which trailing begins. Only for trailing_stop_market
            orders. If omitted, trailing activates immediately at current
            working price.</p>
        slippage:
          type: string
          description: >-
            Slippage tolerance as a decimal fraction. Only for MARKET orders.
            E.g. "0.05" = 5%. Clamped to the market's maximum price bound. If
            omitted, the market default bound is used.
          example: '0.05'
          x-gitbook-description-html: >-
            <p>Slippage tolerance as a decimal fraction. Only for MARKET orders.
            E.g. "0.05" = 5%. Clamped to the market's maximum price bound. If
            omitted, the market default bound is used.</p>
    CreateOrderResponse:
      type: object
      properties:
        client_order_id:
          type: string
          description: Client-provided order ID
          example: my-order-001
          x-gitbook-description-html: <p>Client-provided order ID</p>
        account_id:
          type: string
          description: Account ID
          example: 01234567-89ab-cdef-0123-456789abcdef
          x-gitbook-description-html: <p>Account ID</p>
        symbol:
          type: string
          description: Trading pair symbol
          example: BTC-USD
          x-gitbook-description-html: <p>Trading pair symbol</p>
        sequence_id:
          type: integer
          format: int64
          description: Sequence ID for ordering
          example: 789012
          x-gitbook-description-html: <p>Sequence ID for ordering</p>
        message_id:
          type: string
          description: Message ID for tracking
          example: msg_xyz
          x-gitbook-description-html: <p>Message ID for tracking</p>
    Order:
      type: object
      description: |
        Order model. Field names are PascalCase in JSON responses.
      properties:
        ID:
          type: integer
          format: int64
          description: Order ID
          example: 123456
          x-gitbook-description-html: <p>Order ID</p>
        ClientOrderID:
          type: string
          description: Client order ID
          example: my-order-001
          x-gitbook-description-html: <p>Client order ID</p>
        AccountID:
          type: string
          description: Account ID
          example: 01234567-89ab-cdef-0123-456789abcdef
          x-gitbook-description-html: <p>Account ID</p>
        Symbol:
          type: string
          description: Trading pair
          example: BTC-USD
          x-gitbook-description-html: <p>Trading pair</p>
        Strategy:
          type: object
          nullable: true
          description: Strategy linkage (only present for strategy orders)
          x-gitbook-description-html: <p>Strategy linkage (only present for strategy orders)</p>
          properties:
            ID:
              type: string
              description: Strategy ID
              x-gitbook-description-html: <p>Strategy ID</p>
            IsPrimary:
              type: boolean
              description: Whether this is the primary order in the strategy
              x-gitbook-description-html: <p>Whether this is the primary order in the strategy</p>
        CloseReason:
          type: string
          description: Explains why the order was closed
          example: ''
          x-gitbook-description-html: <p>Explains why the order was closed</p>
        Side:
          type: string
          enum:
            - buy
            - sell
            - none
          description: Order side
          example: buy
          x-gitbook-description-html: <p>Order side</p>
        Status:
          type: string
          enum:
            - pending
            - open
            - filled
            - canceled
            - untriggered
            - rejected
            - expired
            - none
          description: Order status
          example: filled
          x-gitbook-description-html: <p>Order status</p>
        Type:
          type: string
          enum:
            - limit
            - market
            - stop
            - stop_limit
            - take_profit
            - take_profit_limit
            - trailing_stop_market
          description: Order type
          example: limit
          x-gitbook-description-html: <p>Order type</p>
        OriginType:
          type: string
          enum:
            - limit
            - market
            - stop
            - stop_limit
            - take_profit
            - take_profit_limit
            - trailing_stop_market
          description: Original type of a triggered conditional order
          example: stop_limit
          x-gitbook-description-html: <p>Original type of a triggered conditional order</p>
        AutoCloseType:
          type: string
          enum:
            - liquidation
            - adl
            - bankrupt
            - if_transfer
            - vault_withdrawal
            - ''
          description: Auto-close type (for liquidation/ADL orders)
          example: ''
          x-gitbook-description-html: <p>Auto-close type (for liquidation/ADL orders)</p>
        TimeInForce:
          type: string
          enum:
            - GTC
            - IOC
            - FOK
          description: Time in force
          example: GTC
          x-gitbook-description-html: <p>Time in force</p>
        WorkingType:
          type: string
          enum:
            - mark_price
            - contract_price
            - none
          description: Working type for triggers
          example: mark_price
          x-gitbook-description-html: <p>Working type for triggers</p>
        Size:
          type: string
          description: Original order size
          example: '0.1'
          x-gitbook-description-html: <p>Original order size</p>
        Filled:
          type: string
          description: Filled quantity
          example: '0.1'
          x-gitbook-description-html: <p>Filled quantity</p>
        Price:
          type: string
          description: Order price
          example: '50000.00'
          x-gitbook-description-html: <p>Order price</p>
        StopPrice:
          type: string
          description: Stop/trigger price
          example: '0'
          x-gitbook-description-html: <p>Stop/trigger price</p>
        BoundPrice:
          type: string
          description: Bound price for market orders
          example: '0'
          x-gitbook-description-html: <p>Bound price for market orders</p>
        PostOnly:
          type: boolean
          description: Post-only flag
          example: false
          x-gitbook-description-html: <p>Post-only flag</p>
        ReduceOnly:
          type: boolean
          description: Reduce-only flag
          example: false
          x-gitbook-description-html: <p>Reduce-only flag</p>
        ClosePosition:
          type: boolean
          description: Close position flag
          example: false
          x-gitbook-description-html: <p>Close position flag</p>
        PriceProtect:
          type: boolean
          description: Price protection flag
          example: false
          x-gitbook-description-html: <p>Price protection flag</p>
        Trailing:
          type: object
          nullable: true
          description: >-
            Trailing stop state. Only present for trailing_stop_market orders,
            omitted (null) otherwise.
          x-gitbook-description-html: >-
            <p>Trailing stop state. Only present for trailing_stop_market
            orders, omitted (null) otherwise.</p>
          properties:
            CallbackRate:
              type: string
              description: Trail distance in percent (e.g. "5" = 5%). Range [0.1, 5].
              example: '5'
              x-gitbook-description-html: >-
                <p>Trail distance in percent (e.g. "5" = 5%). Range [0.1,
                5].</p>
            ActivationPrice:
              type: string
              description: >-
                Price at which trailing began. If originally omitted, shows the
                resolved working price.
              example: '67000'
              x-gitbook-description-html: >-
                <p>Price at which trailing began. If originally omitted, shows
                the resolved working price.</p>
            Extreme:
              type: string
              description: >-
                Best price seen since activation (highest for sell, lowest for
                buy). Updates on each favorable tick.
              example: '70000'
              x-gitbook-description-html: >-
                <p>Best price seen since activation (highest for sell, lowest
                for buy). Updates on each favorable tick.</p>
            Activated:
              type: boolean
              description: True if the trailing stop has crossed its activation threshold.
              example: true
              x-gitbook-description-html: >-
                <p>True if the trailing stop has crossed its activation
                threshold.</p>
        Builder:
          type: object
          nullable: true
          description: >-
            Builder attribution. Only present for orders placed via a builder,
            omitted (null) otherwise.
          x-gitbook-description-html: >-
            <p>Builder attribution. Only present for orders placed via a
            builder, omitted (null) otherwise.</p>
          properties:
            Code:
              type: string
              description: Builder code
              example: builder-xyz
              x-gitbook-description-html: <p>Builder code</p>
            FeeBps:
              type: integer
              description: Fee in basis points
              example: 10
              x-gitbook-description-html: <p>Fee in basis points</p>
        STPGroup:
          type: string
          description: Self-trade prevention group. Empty string if not set.
          example: ''
          x-gitbook-description-html: <p>Self-trade prevention group. Empty string if not set.</p>
        CreateTimestamp:
          type: integer
          format: int64
          description: When the API received the order (ms)
          example: 1704067200000
          x-gitbook-description-html: <p>When the API received the order (ms)</p>
        EntryTimestamp:
          type: integer
          format: int64
          description: When the engine received the order (ms)
          example: 1704067200050
          x-gitbook-description-html: <p>When the engine received the order (ms)</p>
        EventTimestamp:
          type: integer
          format: int64
          description: Last event time (ms)
          example: 1704067200150
          x-gitbook-description-html: <p>Last event time (ms)</p>
      x-gitbook-description-html: <p>Order model. Field names are PascalCase in JSON responses.</p>
    CancelOrderRequest:
      type: object
      required:
        - order_id
        - symbol
      properties:
        order_id:
          type: integer
          format: int64
          description: Order ID to cancel
          example: 123456
          x-gitbook-description-html: <p>Order ID to cancel</p>
        symbol:
          type: string
          description: Trading pair symbol
          example: BTC-USD
          x-gitbook-description-html: <p>Trading pair symbol</p>
        vault_id:
          type: string
          description: Optional vault ID to cancel on behalf of a vault (leader only). Mutually exclusive with sub_account_id.
          example: vault-abc-123
          x-gitbook-description-html: >-
            <p>Optional vault ID to cancel on behalf of a vault (leader
            only)</p>
        sub_account_id:
          type: string
          format: uuid
          description: Optional active subaccount owned by the authenticated master account. Mutually exclusive with vault_id.
          example: 019d1935-5bba-726e-a38e-838a892245f3
    CancelOrderResponse:
      type: object
      properties:
        order_id:
          type: integer
          format: int64
          description: Canceled order ID
          example: 123456
          x-gitbook-description-html: <p>Canceled order ID</p>
        symbol:
          type: string
          description: Trading pair symbol
          example: BTC-USD
          x-gitbook-description-html: <p>Trading pair symbol</p>
        sequence_id:
          type: integer
          format: int64
          description: Sequence ID
          example: 789012
          x-gitbook-description-html: <p>Sequence ID</p>
        message_id:
          type: string
          description: Message ID
          example: msg_xyz
          x-gitbook-description-html: <p>Message ID</p>
    CancelAllOrdersRequest:
      type: object
      properties:
        symbol:
          type: string
          description: >-
            Optional symbol filter. If empty, cancels all orders across all
            symbols.
          example: BTC-USD
          x-gitbook-description-html: >-
            <p>Optional symbol filter. If empty, cancels all orders across all
            symbols.</p>
        vault_id:
          type: string
          description: Optional vault ID to cancel on behalf of a vault (leader only). Mutually exclusive with sub_account_id.
          example: vault-abc-123
          x-gitbook-description-html: >-
            <p>Optional vault ID to cancel on behalf of a vault (leader
            only)</p>
        sub_account_id:
          type: string
          format: uuid
          description: Optional active subaccount owned by the authenticated master account. Mutually exclusive with vault_id.
          example: 019d1935-5bba-726e-a38e-838a892245f3
    CancelAllOrdersResponse:
      type: object
      properties:
        account_id:
          type: string
          description: Account ID
          example: 01234567-89ab-cdef-0123-456789abcdef
          x-gitbook-description-html: <p>Account ID</p>
        symbol:
          type: string
          description: Symbol filter used
          example: BTC-USD
          x-gitbook-description-html: <p>Symbol filter used</p>
        canceled_count:
          type: integer
          description: Number of orders canceled (-1 = async, count not available)
          example: -1
          x-gitbook-description-html: <p>Number of orders canceled (-1 = async, count not available)</p>
        sequence_id:
          type: integer
          format: int64
          description: Sequence ID
          example: 789012
          x-gitbook-description-html: <p>Sequence ID</p>
        message_id:
          type: string
          description: Message ID
          example: msg_xyz
          x-gitbook-description-html: <p>Message ID</p>
    OpenOrdersResponse:
      type: object
      properties:
        orders:
          type: array
          items:
            $ref: '#/components/schemas/Order'
        count:
          type: integer
          description: Number of open orders
          example: 5
          x-gitbook-description-html: <p>Number of open orders</p>
    StrategyOrderDetails:
      type: object
      required:
        - type
        - size
        - stop_price
      properties:
        client_order_id:
          type: string
          description: Client order ID for this leg
          example: tp-001
          x-gitbook-description-html: <p>Client order ID for this leg</p>
        type:
          type: string
          enum:
            - take_profit
            - take_profit_limit
            - stop
            - stop_limit
          description: Order type for TP/SL leg
          example: take_profit
          x-gitbook-description-html: <p>Order type for TP/SL leg</p>
        size:
          type: string
          description: Order size
          example: '0.1'
          x-gitbook-description-html: <p>Order size</p>
        price:
          type: string
          description: Limit price (for limit types)
          example: '52000.00'
          x-gitbook-description-html: <p>Limit price (for limit types)</p>
        stop_price:
          type: string
          description: Trigger price
          example: '52000.00'
          x-gitbook-description-html: <p>Trigger price</p>
        time_in_force:
          type: string
          enum:
            - GTC
            - IOC
            - FOK
          description: Time in force
          example: GTC
          x-gitbook-description-html: <p>Time in force</p>
        working_type:
          type: string
          enum:
            - mark_price
            - contract_price
          description: Working type
          example: mark_price
          x-gitbook-description-html: <p>Working type</p>
        post_only:
          type: boolean
          description: Post-only flag
          example: false
          x-gitbook-description-html: <p>Post-only flag</p>
        price_protect:
          type: boolean
          description: Price protection
          example: false
          x-gitbook-description-html: <p>Price protection</p>
    CreateStrategyOrderRequest:
      type: object
      required:
        - strategy_id
        - symbol
        - side
        - type
        - size
      properties:
        strategy_id:
          type: string
          description: Client-provided strategy ID
          example: strategy-001
          x-gitbook-description-html: <p>Client-provided strategy ID</p>
        client_order_id:
          type: string
          description: Client order ID for primary order
          example: primary-001
          x-gitbook-description-html: <p>Client order ID for primary order</p>
        symbol:
          type: string
          description: Trading pair symbol
          example: BTC-USD
          x-gitbook-description-html: <p>Trading pair symbol</p>
        side:
          type: string
          enum:
            - buy
            - sell
          description: Order side
          example: buy
          x-gitbook-description-html: <p>Order side</p>
        type:
          type: string
          enum:
            - limit
            - market
          description: Primary order type
          example: limit
          x-gitbook-description-html: <p>Primary order type</p>
        size:
          type: string
          description: Order size
          example: '0.1'
          x-gitbook-description-html: <p>Order size</p>
        price:
          type: string
          description: Order price (for limit orders)
          example: '50000.00'
          x-gitbook-description-html: <p>Order price (for limit orders)</p>
        stop_price:
          type: string
          description: Trigger price for conditional primary orders
          example: '49500.00'
          x-gitbook-description-html: <p>Trigger price for conditional primary orders</p>
        time_in_force:
          type: string
          enum:
            - GTC
            - IOC
            - FOK
          description: Time in force
          example: GTC
          x-gitbook-description-html: <p>Time in force</p>
        working_type:
          type: string
          enum:
            - mark_price
            - contract_price
          description: Price type for trigger evaluation
          x-gitbook-description-html: <p>Price type for trigger evaluation</p>
        post_only:
          type: boolean
          default: false
          description: If true, primary order will only be maker
          x-gitbook-description-html: <p>If true, primary order will only be maker</p>
        reduce_only:
          type: boolean
          default: false
          description: If true, primary order can only reduce position
          x-gitbook-description-html: <p>If true, primary order can only reduce position</p>
        close_position:
          type: boolean
          default: false
          description: If true, closes entire position when triggered
          x-gitbook-description-html: <p>If true, closes entire position when triggered</p>
        price_protect:
          type: boolean
          default: false
          description: If true, enables price protection
          x-gitbook-description-html: <p>If true, enables price protection</p>
        vault_id:
          type: string
          description: Optional vault ID to trade on behalf of a vault (leader only). Mutually exclusive with sub_account_id.
          example: vault-abc-123
          x-gitbook-description-html: <p>Optional vault ID to trade on behalf of a vault (leader only)</p>
        sub_account_id:
          type: string
          format: uuid
          description: Optional active subaccount owned by the authenticated master account. Mutually exclusive with vault_id.
          example: 019d1935-5bba-726e-a38e-838a892245f3
        tp_order:
          $ref: '#/components/schemas/StrategyOrderDetails'
          description: Take-profit order configuration
          x-gitbook-description-html: <p>Take-profit order configuration</p>
        sl_order:
          $ref: '#/components/schemas/StrategyOrderDetails'
          description: Stop-loss order configuration
          x-gitbook-description-html: <p>Stop-loss order configuration</p>
    CreateStrategyOrderResponse:
      type: object
      properties:
        strategy_id:
          type: string
          description: Strategy ID
          example: strategy-001
          x-gitbook-description-html: <p>Strategy ID</p>
        primary_client_order_id:
          type: string
          description: Primary order client ID
          example: primary-001
          x-gitbook-description-html: <p>Primary order client ID</p>
        tp_client_order_id:
          type: string
          description: Take-profit order client ID
          example: tp-001
          x-gitbook-description-html: <p>Take-profit order client ID</p>
        sl_client_order_id:
          type: string
          description: Stop-loss order client ID
          example: sl-001
          x-gitbook-description-html: <p>Stop-loss order client ID</p>
        account_id:
          type: string
          description: Account ID
          example: 01234567-89ab-cdef-0123-456789abcdef
          x-gitbook-description-html: <p>Account ID</p>
        symbol:
          type: string
          description: Trading pair
          example: BTC-USD
          x-gitbook-description-html: <p>Trading pair</p>
        sequence_id:
          type: integer
          format: int64
          description: Sequence ID
          example: 789012
          x-gitbook-description-html: <p>Sequence ID</p>
        message_id:
          type: string
          description: Message ID
          example: msg_xyz
          x-gitbook-description-html: <p>Message ID</p>
    CreateBatchOrdersRequest:
      type: object
      required:
        - orders
      properties:
        orders:
          type: array
          description: Array of orders to create (minimum 1)
          minItems: 1
          items:
            $ref: '#/components/schemas/CreateOrderRequest'
          x-gitbook-description-html: <p>Array of orders to create (minimum 1)</p>
        vault_id:
          type: string
          description: Optional vault ID to trade on behalf of a vault (leader only). Mutually exclusive with sub_account_id.
          example: vault-abc-123
          x-gitbook-description-html: <p>Optional vault ID to trade on behalf of a vault (leader only)</p>
        sub_account_id:
          type: string
          format: uuid
          description: Optional active subaccount owned by the authenticated master account. Mutually exclusive with vault_id.
          example: 019d1935-5bba-726e-a38e-838a892245f3
    CreateBatchOrdersResponse:
      type: object
      properties:
        successful:
          type: array
          description: Successfully created orders
          items:
            $ref: '#/components/schemas/CreateOrderResponse'
          x-gitbook-description-html: <p>Successfully created orders</p>
        failed:
          type: array
          description: Orders that failed to create
          items:
            type: object
            properties:
              index:
                type: integer
                description: Index of the failed order in the request array
                example: 2
                x-gitbook-description-html: <p>Index of the failed order in the request array</p>
              error:
                type: string
                description: Error message
                example: insufficient margin
                x-gitbook-description-html: <p>Error message</p>
          x-gitbook-description-html: <p>Orders that failed to create</p>
    ReplaceOrderRequest:
      type: object
      description: >-
        A replacement entry. At least one of cancel or new_order must be
        provided. All entries in a batch must target the same symbol.
      properties:
        cancel:
          $ref: '#/components/schemas/CancelOrderRequest'
          description: The order to cancel (optional — omit for create-only)
          x-gitbook-description-html: <p>The order to cancel (optional — omit for create-only)</p>
        new_order:
          $ref: '#/components/schemas/CreateOrderRequest'
          description: The new order to create (optional — omit for cancel-only)
          x-gitbook-description-html: <p>The new order to create (optional — omit for cancel-only)</p>
        vault_id:
          type: string
          description: Optional vault ID to replace on behalf of a vault (leader only). Mutually exclusive with sub_account_id.
          example: vault-abc-123
          x-gitbook-description-html: >-
            <p>Optional vault ID to replace on behalf of a vault (leader
            only)</p>
        sub_account_id:
          type: string
          format: uuid
          description: Optional active subaccount owned by the authenticated master account. Mutually exclusive with vault_id.
          example: 019d1935-5bba-726e-a38e-838a892245f3
      x-gitbook-description-html: >-
        <p>A replacement entry. At least one of cancel or new_order must be
        provided. All entries in a batch must target the same symbol.</p>
    ReplaceOrderResponse:
      type: object
      properties:
        cancel:
          $ref: '#/components/schemas/CancelOrderResponse'
          description: Present only when the entry included a cancel leg
          x-gitbook-description-html: <p>Present only when the entry included a cancel leg</p>
        new_order:
          $ref: '#/components/schemas/CreateOrderResponse'
          description: Present only when the entry included a new_order leg
          x-gitbook-description-html: <p>Present only when the entry included a new_order leg</p>
        sequence_id:
          type: integer
          format: int64
          description: Sequence ID (populated on single replace; omitted in batch results)
          x-gitbook-description-html: >-
            <p>Sequence ID (populated on single replace; omitted in batch
            results)</p>
        message_id:
          type: string
          description: Message ID (populated on single replace; omitted in batch results)
          x-gitbook-description-html: >-
            <p>Message ID (populated on single replace; omitted in batch
            results)</p>
    ReplaceBatchOrdersRequest:
      type: object
      required:
        - replacements
      properties:
        replacements:
          type: array
          description: Array of replace operations (minimum 1)
          minItems: 1
          items:
            $ref: '#/components/schemas/ReplaceOrderRequest'
          x-gitbook-description-html: <p>Array of replace operations (minimum 1)</p>
        vault_id:
          type: string
          description: Optional vault ID to replace on behalf of a vault (leader only). Mutually exclusive with sub_account_id.
          example: vault-abc-123
          x-gitbook-description-html: >-
            <p>Optional vault ID to replace on behalf of a vault (leader
            only)</p>
        sub_account_id:
          type: string
          format: uuid
          description: Optional active subaccount owned by the authenticated master account. Mutually exclusive with vault_id.
          example: 019d1935-5bba-726e-a38e-838a892245f3
    ReplaceBatchOrdersResponse:
      type: object
      properties:
        sequence_id:
          type: integer
          format: int64
          description: Root sequence ID for the entire batch command
          example: 789012
          x-gitbook-description-html: <p>Root sequence ID for the entire batch command</p>
        message_id:
          type: string
          description: Root message ID for the entire batch command
          example: msg_xyz
          x-gitbook-description-html: <p>Root message ID for the entire batch command</p>
        results:
          type: array
          description: >-
            Results for each replacement entry. cancel and new_order fields are
            present only when the corresponding leg was provided in the request.
          items:
            $ref: '#/components/schemas/ReplaceOrderResponse'
          x-gitbook-description-html: >-
            <p>Results for each replacement entry. cancel and new_order fields
            are present only when the corresponding leg was provided in the
            request.</p>
    ReplaceSymbolCreateOrderRequest:
      type: object
      required:
        - side
        - type
        - size
      description: >-
        New order leg for symbol-level replacement. The parent request supplies
        symbol and vault_id for every new order.
      properties:
        client_order_id:
          type: string
          description: Client-provided order ID for tracking
          example: level-buy-001
          x-gitbook-description-html: <p>Client-provided order ID for tracking</p>
        side:
          type: string
          enum:
            - buy
            - sell
          description: Order side
          example: buy
          x-gitbook-description-html: <p>Order side</p>
        type:
          type: string
          enum:
            - limit
            - market
            - stop
            - stop_limit
            - take_profit
            - take_profit_limit
            - trailing_stop_market
          description: Order type
          example: limit
          x-gitbook-description-html: <p>Order type</p>
        size:
          type: string
          description: Order size in base asset
          example: '0.1'
          x-gitbook-description-html: <p>Order size in base asset</p>
        price:
          type: string
          description: Order price (required for limit orders)
          example: '50000.00'
          x-gitbook-description-html: <p>Order price (required for limit orders)</p>
        stop_price:
          type: string
          description: Trigger price for conditional orders
          example: '49500.00'
          x-gitbook-description-html: <p>Trigger price for conditional orders</p>
        time_in_force:
          type: string
          enum:
            - GTC
            - IOC
            - FOK
          default: GTC
          description: |
            Time in force:
            - GTC: Good Till Cancel
            - IOC: Immediate Or Cancel
            - FOK: Fill Or Kill
          example: GTC
          x-gitbook-description-html: |-
            <p>Time in force:</p>
            <ul>
            <li>GTC: Good Till Cancel</li>
            <li>IOC: Immediate Or Cancel</li>
            <li>FOK: Fill Or Kill</li>
            </ul>
        working_type:
          type: string
          enum:
            - mark_price
            - contract_price
          default: mark_price
          description: Price type for trigger evaluation
          x-gitbook-description-html: <p>Price type for trigger evaluation</p>
        post_only:
          type: boolean
          default: false
          description: If true, order will only be maker
          x-gitbook-description-html: <p>If true, order will only be maker</p>
        reduce_only:
          type: boolean
          default: false
          description: If true, order can only reduce position
          x-gitbook-description-html: <p>If true, order can only reduce position</p>
        close_position:
          type: boolean
          default: false
          description: If true, closes entire position when triggered
          x-gitbook-description-html: <p>If true, closes entire position when triggered</p>
        price_protect:
          type: boolean
          default: false
          description: If true, enables price protection
          x-gitbook-description-html: <p>If true, enables price protection</p>
        callback_rate:
          type: string
          description: >-
            Trail distance as a percentage for trailing_stop_market orders.
            Range: "0.1" to "5". E.g. "1" = 1%.
          example: '5'
          x-gitbook-description-html: >-
            <p>Trail distance as a percentage for trailing_stop_market orders.
            Range: "0.1" to "5". E.g. "1" = 1%.</p>
        activation_price:
          type: string
          description: >-
            Price at which trailing begins. Only for trailing_stop_market
            orders. If omitted, trailing activates immediately at current
            working price.
          example: '67000'
          x-gitbook-description-html: >-
            <p>Price at which trailing begins. Only for trailing_stop_market
            orders. If omitted, trailing activates immediately at current
            working price.</p>
        slippage:
          type: string
          description: >-
            Slippage tolerance as a decimal fraction. Only for MARKET orders.
            E.g. "0.05" = 5%. Clamped to the market's maximum price bound. If
            omitted, the market default bound is used.
          example: '0.05'
          x-gitbook-description-html: >-
            <p>Slippage tolerance as a decimal fraction. Only for MARKET orders.
            E.g. "0.05" = 5%. Clamped to the market's maximum price bound. If
            omitted, the market default bound is used.</p>
      x-gitbook-description-html: >-
        <p>New order leg for symbol-level replacement. The parent request
        supplies symbol and vault_id for every new order.</p>
    ReplaceSymbolOrdersRequest:
      type: object
      required:
        - symbol
        - orders
      properties:
        symbol:
          type: string
          description: Trading pair symbol whose open orders should be replaced
          example: BTC-USD
          x-gitbook-description-html: <p>Trading pair symbol whose open orders should be replaced</p>
        orders:
          type: array
          description: New orders to place after canceling all active orders for symbol
          minItems: 1
          items:
            $ref: '#/components/schemas/ReplaceSymbolCreateOrderRequest'
          x-gitbook-description-html: >-
            <p>New orders to place after canceling all active orders for
            symbol</p>
        vault_id:
          type: string
          description: Optional vault ID to replace on behalf of a vault (leader only). Mutually exclusive with sub_account_id.
          example: vault-abc-123
          x-gitbook-description-html: >-
            <p>Optional vault ID to replace on behalf of a vault (leader
            only)</p>
        sub_account_id:
          type: string
          format: uuid
          description: Optional active subaccount owned by the authenticated master account. Mutually exclusive with vault_id.
          example: 019d1935-5bba-726e-a38e-838a892245f3
    ReplaceSymbolOrdersResponse:
      type: object
      properties:
        sequence_id:
          type: integer
          format: int64
          description: Root sequence ID for the entire replace command
          example: 789012
          x-gitbook-description-html: <p>Root sequence ID for the entire replace command</p>
        message_id:
          type: string
          description: Root message ID for the entire replace command
          example: msg_xyz
          x-gitbook-description-html: <p>Root message ID for the entire replace command</p>
        account_id:
          type: string
          description: Account ID whose orders were replaced
          example: 01234567-89ab-cdef-0123-456789abcdef
          x-gitbook-description-html: <p>Account ID whose orders were replaced</p>
        symbol:
          type: string
          description: Trading pair symbol
          example: BTC-USD
          x-gitbook-description-html: <p>Trading pair symbol</p>
        cancel_all:
          type: boolean
          description: Always true; all active orders for symbol are canceled first
          example: true
          x-gitbook-description-html: <p>Always true; all active orders for symbol are canceled first</p>
        new_orders:
          type: array
          description: New orders accepted for placement
          items:
            $ref: '#/components/schemas/CreateOrderResponse'
          x-gitbook-description-html: <p>New orders accepted for placement</p>
    CreateTwapRequest:
      type: object
      required:
        - symbol
        - side
        - total_size
        - duration_sec
      properties:
        symbol:
          type: string
          description: Trading pair symbol
          example: BTC-USDT
          x-gitbook-description-html: <p>Trading pair symbol</p>
        side:
          type: string
          enum:
            - BUY
            - SELL
          description: Order side
          example: BUY
          x-gitbook-description-html: <p>Order side</p>
        total_size:
          type: string
          description: Total quantity to execute (decimal string)
          example: '1.5'
          x-gitbook-description-html: <p>Total quantity to execute (decimal string)</p>
        duration_sec:
          type: integer
          description: Execution duration in seconds (min 300, max 86400)
          minimum: 300
          maximum: 86400
          example: 3600
          x-gitbook-description-html: <p>Execution duration in seconds (min 300, max 86400)</p>
        limit_price:
          type: string
          description: >-
            Optional hard cap price. Slices whose projected fill price would
            cross it are skipped.
          example: '45000.00'
          x-gitbook-description-html: >-
            <p>Optional hard cap price. Slices whose projected fill price would
            cross it are skipped.</p>
        reduce_only:
          type: boolean
          default: false
          description: If true, slices can only reduce an existing position
          x-gitbook-description-html: <p>If true, slices can only reduce an existing position</p>
        randomize:
          type: boolean
          default: false
          description: Enable time/size jitter to reduce predictability
          x-gitbook-description-html: <p>Enable time/size jitter to reduce predictability</p>
        vault_id:
          type: string
          description: Optional vault ID to trade on behalf of a vault (leader only). Mutually exclusive with sub_account_id.
          example: vault-abc-123
        sub_account_id:
          type: string
          format: uuid
          description: Optional active subaccount owned by the authenticated master account. Mutually exclusive with vault_id.
          example: 019d1935-5bba-726e-a38e-838a892245f3
    CreateTwapResponse:
      type: object
      properties:
        strategy_id:
          type: string
          description: Unique strategy identifier (UUID v7)
          example: 019681a3-7e00-7000-8000-000000000001
          x-gitbook-description-html: <p>Unique strategy identifier (UUID v7)</p>
        status:
          type: string
          description: Initial status (always "active")
          example: active
          x-gitbook-description-html: <p>Initial status (always "active")</p>
    CancelTwapResponse:
      type: object
      properties:
        strategy_id:
          type: string
          description: Strategy identifier
          example: 019681a3-7e00-7000-8000-000000000001
          x-gitbook-description-html: <p>Strategy identifier</p>
        status:
          type: string
          description: Status after cancellation request (always "cancelling")
          example: cancelling
          x-gitbook-description-html: <p>Status after cancellation request (always "cancelling")</p>
    TwapStrategyView:
      type: object
      properties:
        strategy_id:
          type: string
          description: Unique strategy identifier
          example: 019681a3-7e00-7000-8000-000000000001
          x-gitbook-description-html: <p>Unique strategy identifier</p>
        account_id:
          type: string
          description: Account that owns the strategy
          example: 01234567-89ab-cdef-0123-456789abcdef
          x-gitbook-description-html: <p>Account that owns the strategy</p>
        market:
          type: string
          description: Trading pair symbol
          example: BTC-USDT
          x-gitbook-description-html: <p>Trading pair symbol</p>
        status:
          type: string
          enum:
            - pending
            - active
            - cancelling
            - completed
            - cancelled
            - expired
            - failed
            - liquidated
          description: Current strategy status
          example: active
          x-gitbook-description-html: <p>Current strategy status</p>
        side:
          type: string
          enum:
            - BUY
            - SELL
          description: Order side
          example: BUY
          x-gitbook-description-html: <p>Order side</p>
        total_size:
          type: string
          description: Total quantity to execute
          example: '1.5'
          x-gitbook-description-html: <p>Total quantity to execute</p>
        filled_size:
          type: string
          description: Quantity executed so far
          example: '0.75'
          x-gitbook-description-html: <p>Quantity executed so far</p>
        duration_sec:
          type: integer
          description: Execution duration in seconds
          example: 3600
          x-gitbook-description-html: <p>Execution duration in seconds</p>
        slices_fired:
          type: integer
          description: Number of child orders placed so far
          example: 60
          x-gitbook-description-html: <p>Number of child orders placed so far</p>
        nominal_slices:
          type: integer
          description: Expected total number of slices
          example: 120
          x-gitbook-description-html: <p>Expected total number of slices</p>
        created_at_ms:
          type: integer
          format: int64
          description: Creation timestamp (ms)
          example: 1713806400000
          x-gitbook-description-html: <p>Creation timestamp (ms)</p>
        updated_at_ms:
          type: integer
          format: int64
          description: Last update timestamp (ms)
          example: 1713810000000
          x-gitbook-description-html: <p>Last update timestamp (ms)</p>
        completed_at_ms:
          type: integer
          format: int64
          nullable: true
          description: Completion timestamp (ms), null while active
          example: null
          x-gitbook-description-html: <p>Completion timestamp (ms), null while active</p>
        last_error:
          type: string
          description: Error message if strategy failed
          example: ''
          x-gitbook-description-html: <p>Error message if strategy failed</p>
    CreateGridBotRequest:
      type: object
      required:
        - symbol
        - mode
        - upper_price
        - lower_price
        - grid_count
        - collateral
      properties:
        symbol:
          type: string
          description: Trading pair symbol
          example: BTC-USDT
          x-gitbook-description-html: <p>Trading pair symbol</p>
        mode:
          type: string
          enum:
            - LONG
            - SHORT
            - NEUTRAL
          description: >-
            Grid mode. LONG places buy entries and sell take-profits; SHORT
            places sell entries and buy take-profits; NEUTRAL places both sides
            around the current price.
          example: LONG
          x-gitbook-description-html: >-
            <p>Grid mode. LONG places buy entries and sell take-profits; SHORT
            places sell entries and buy take-profits; NEUTRAL places both sides
            around the current price.</p>
        upper_price:
          type: string
          description: Upper bound of the grid price range
          example: '60000'
          x-gitbook-description-html: <p>Upper bound of the grid price range</p>
        lower_price:
          type: string
          description: Lower bound of the grid price range
          example: '50000'
          x-gitbook-description-html: <p>Lower bound of the grid price range</p>
        grid_count:
          type: integer
          description: Number of grid levels (min 2, max 200)
          minimum: 2
          maximum: 200
          example: 20
          x-gitbook-description-html: <p>Number of grid levels (min 2, max 200)</p>
        collateral:
          type: string
          description: Total quote collateral allocated to the bot
          example: '100'
          x-gitbook-description-html: <p>Total quote collateral allocated to the bot</p>
        sl_price:
          type: string
          description: >-
            Optional shared stop-loss price for LONG or SHORT mode. For LONG it
            must be below lower_price; for SHORT it must be above upper_price.
            Not supported for NEUTRAL mode.
          example: '49000'
          x-gitbook-description-html: >-
            <p>Optional shared stop-loss price for LONG or SHORT mode. For LONG
            it must be below lower_price; for SHORT it must be above
            upper_price. Not supported for NEUTRAL mode.</p>
        long_sl_price:
          type: string
          description: >-
            Optional buy-side stop-loss price for NEUTRAL mode; must be below
            lower_price.
          example: '49000'
          x-gitbook-description-html: >-
            <p>Optional buy-side stop-loss price for NEUTRAL mode; must be below
            lower_price.</p>
        short_sl_price:
          type: string
          description: >-
            Optional sell-side stop-loss price for NEUTRAL mode; must be above
            upper_price.
          example: '61000'
          x-gitbook-description-html: >-
            <p>Optional sell-side stop-loss price for NEUTRAL mode; must be
            above upper_price.</p>
        vault_id:
          type: string
          description: Optional vault ID to trade on behalf of a vault (leader only). Mutually exclusive with sub_account_id.
          example: vault-abc-123
        sub_account_id:
          type: string
          format: uuid
          description: Optional active subaccount owned by the authenticated master account. Mutually exclusive with vault_id.
          example: 019d1935-5bba-726e-a38e-838a892245f3
    CreateGridBotResponse:
      type: object
      properties:
        bot_id:
          type: string
          description: Unique grid bot identifier
          example: grid-01234567-BTC-USDT-1713806400000
          x-gitbook-description-html: <p>Unique grid bot identifier</p>
        status:
          type: string
          description: Initial command status
          example: SUBMITTED
          x-gitbook-description-html: <p>Initial command status</p>
    StopGridBotRequest:
      type: object
      properties:
        cancel_orders:
          type: boolean
          default: false
          description: Whether to cancel live child orders when stopping the bot
          example: true
          x-gitbook-description-html: <p>Whether to cancel live child orders when stopping the bot</p>
        vault_id:
          type: string
          description: Optional vault ID whose bot should be stopped (leader only). Mutually exclusive with sub_account_id.
          example: vault-abc-123
        sub_account_id:
          type: string
          format: uuid
          description: Optional active subaccount owned by the authenticated master account. Mutually exclusive with vault_id.
          example: 019d1935-5bba-726e-a38e-838a892245f3
    StopGridBotResponse:
      type: object
      properties:
        bot_id:
          type: string
          description: Grid bot identifier
          example: grid-01234567-BTC-USDT-1713806400000
          x-gitbook-description-html: <p>Grid bot identifier</p>
        status:
          type: string
          enum:
            - STOPPING
            - STOPPED
          description: Bot status after the stop request
          example: STOPPING
          x-gitbook-description-html: <p>Bot status after the stop request</p>
    GridOrderView:
      type: object
      properties:
        strategy_id:
          type: string
          description: Strategy ID for this grid level
          example: grid-01234567-BTC-USDT-1713806400000:grid-0
          x-gitbook-description-html: <p>Strategy ID for this grid level</p>
        price:
          type: string
          description: Entry price for this grid level
          example: '50000'
          x-gitbook-description-html: <p>Entry price for this grid level</p>
        tp_price:
          type: string
          description: Take-profit price for this grid level
          example: '52000'
          x-gitbook-description-html: <p>Take-profit price for this grid level</p>
        sl_price:
          type: string
          description: Stop-loss price for this grid level, when configured
          example: '49000'
          x-gitbook-description-html: <p>Stop-loss price for this grid level, when configured</p>
        side:
          type: string
          description: Entry order side
          example: Buy
          x-gitbook-description-html: <p>Entry order side</p>
        size:
          type: string
          description: Entry order size
          example: '0.01'
          x-gitbook-description-html: <p>Entry order size</p>
        filled:
          type: boolean
          description: Whether the grid level has filled
          example: false
          x-gitbook-description-html: <p>Whether the grid level has filled</p>
        entry_order_id:
          type: integer
          format: int64
          description: Entry order ID assigned by the matching engine
          example: 123456
          x-gitbook-description-html: <p>Entry order ID assigned by the matching engine</p>
        tp_order_id:
          type: integer
          format: int64
          description: Take-profit order ID assigned by the matching engine
          example: 123457
          x-gitbook-description-html: <p>Take-profit order ID assigned by the matching engine</p>
        sl_order_id:
          type: integer
          format: int64
          description: Stop-loss order ID assigned by the matching engine
          example: 123458
          x-gitbook-description-html: <p>Stop-loss order ID assigned by the matching engine</p>
    GridBotView:
      type: object
      properties:
        id:
          type: string
          description: Grid bot identifier
          example: grid-01234567-BTC-USDT-1713806400000
          x-gitbook-description-html: <p>Grid bot identifier</p>
        account_id:
          type: string
          description: Account that owns the bot
          example: 01234567-89ab-cdef-0123-456789abcdef
          x-gitbook-description-html: <p>Account that owns the bot</p>
        symbol:
          type: string
          description: Trading pair symbol
          example: BTC-USDT
          x-gitbook-description-html: <p>Trading pair symbol</p>
        status:
          type: string
          enum:
            - CREATED
            - RUNNING
            - STOPPING
            - STOPPED
          description: Current bot status
          example: RUNNING
          x-gitbook-description-html: <p>Current bot status</p>
        mode:
          type: string
          enum:
            - LONG
            - SHORT
            - NEUTRAL
          description: Grid mode
          example: LONG
          x-gitbook-description-html: <p>Grid mode</p>
        upper_price:
          type: string
          example: '60000'
        lower_price:
          type: string
          example: '50000'
        grid_count:
          type: integer
          example: 20
        leverage:
          type: integer
          example: 10
        collateral:
          type: string
          example: '100'
        sl_price:
          type: string
          example: '49000'
        long_sl_price:
          type: string
          example: '49000'
        short_sl_price:
          type: string
          example: '61000'
        orders:
          type: array
          items:
            $ref: '#/components/schemas/GridOrderView'
        grid_profit:
          type: string
          description: Realized grid profit, when available
          example: '12.34'
          x-gitbook-description-html: <p>Realized grid profit, when available</p>
        created_at_ms:
          type: integer
          format: int64
          example: 1713806400000
        updated_at_ms:
          type: integer
          format: int64
          example: 1713806500000
    ListGridBotsResponse:
      type: object
      properties:
        bots:
          type: array
          items:
            $ref: '#/components/schemas/GridBotView'
        count:
          type: integer
          description: Number of bots returned
          example: 2
          x-gitbook-description-html: <p>Number of bots returned</p>
    GridBotOrderHistoryView:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: Filled grid order history row ID
          example: 7
          x-gitbook-description-html: <p>Filled grid order history row ID</p>
        status:
          type: string
          enum:
            - LIVE
            - FILLED
          description: Whether this row is a live grid level or a filled grid order
          example: FILLED
          x-gitbook-description-html: <p>Whether this row is a live grid level or a filled grid order</p>
        strategy_id:
          type: string
          example: grid-01234567-BTC-USDT-1713806400000:grid-0
        symbol:
          type: string
          example: BTC-USDT
        side:
          type: string
          example: Sell
        size:
          type: string
          example: '0.01'
        entry_price:
          type: string
          example: '50000'
        fill_price:
          type: string
          example: '52000'
        tp_price:
          type: string
          example: '52000'
        sl_price:
          type: string
          example: '49000'
        filled_at_ms:
          type: integer
          format: int64
          example: 1713806500000
        fill_id:
          type: integer
          format: int64
          example: 789012
        entry_order_id:
          type: integer
          format: int64
          example: 123456
        tp_order_id:
          type: integer
          format: int64
          example: 123457
        sl_order_id:
          type: integer
          format: int64
          example: 123458
    GridBotOrdersResponse:
      type: object
      properties:
        bot_id:
          type: string
          description: Grid bot identifier
          example: grid-01234567-BTC-USDT-1713806400000
          x-gitbook-description-html: <p>Grid bot identifier</p>
        orders:
          type: array
          items:
            $ref: '#/components/schemas/GridBotOrderHistoryView'
        count:
          type: integer
          description: Number of order rows returned
          example: 25
          x-gitbook-description-html: <p>Number of order rows returned</p>
        grid_profit:
          type: string
          description: Realized grid profit for the bot
          example: '12.34'
          x-gitbook-description-html: <p>Realized grid profit for the bot</p>
    OrderHistoryEntry:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: Order ID
          minimum: 0
          example: 123456
        client_order_id:
          type: string
          description: Client order ID
          example: my-order-001
        account_id:
          type: string
          description: Account ID
          format: uuid
          example: 019d1935-5bba-726e-a38e-838a892245f3
        symbol:
          type: string
          description: Trading pair
          example: BTC-USD
        strategy_id:
          type: string
          nullable: true
          description: Strategy ID
        is_primary:
          type: boolean
          nullable: true
          description: Whether this is a strategy's primary order
        close_reason:
          type: string
          nullable: true
          description: Strategy close reason
        side:
          type: string
          description: Order side
          enum:
            - buy
            - sell
          example: buy
        status:
          type: string
          description: Order status
          enum:
            - pending
            - open
            - filled
            - canceled
            - untriggered
            - rejected
            - expired
          example: filled
        type:
          type: string
          description: Order type
          enum:
            - market
            - limit
            - stop
            - stop_limit
            - take_profit
            - take_profit_limit
            - trailing_stop_market
          example: limit
        origin_type:
          type: string
          nullable: true
          description: Original order type before any trigger conversion; empty or null when not applicable
          enum:
            - ''
            - market
            - limit
            - stop
            - stop_limit
            - take_profit
            - take_profit_limit
            - trailing_stop_market
        auto_close_type:
          type: string
          nullable: true
          description: System auto-close reason; null for ordinary orders
          enum:
            - ''
            - liquidation
            - adl
            - bankrupt
            - if_transfer
            - vault_withdrawal
        time_in_force:
          type: string
          nullable: true
          description: Time in force
          enum:
            - GTC
            - FOK
            - IOC
        working_type:
          type: string
          nullable: true
          description: Trigger working price
          enum:
            - none
            - contract_price
            - mark_price
        size:
          type: string
          description: Requested size
          example: '0.1'
        filled:
          type: string
          description: Filled size
          example: '0.1'
        price:
          type: string
          description: Order price
          example: '50000'
        stop_price:
          type: string
          description: Trigger price
          example: '0'
        post_only:
          type: boolean
          description: Whether the order is post-only
        reduce_only:
          type: boolean
          description: Whether the order is reduce-only
        close_position:
          type: boolean
          description: Whether the order closes the full position
        price_protect:
          type: boolean
          description: Whether trigger price protection is enabled
        callback_rate:
          type: string
          description: Trailing-stop callback rate; omitted for other order types
        activation_price:
          type: string
          description: Trailing-stop activation price; omitted for other order types
        trailing_extreme:
          type: string
          description: Current trailing extreme; omitted for other order types
        trailing_activated:
          type: boolean
          description: Whether the trailing stop has activated; omitted for other order types
        create_timestamp:
          type: integer
          format: int64
          description: Creation time in Unix milliseconds
        entry_timestamp:
          type: integer
          format: int64
          description: Engine entry time in Unix milliseconds
        event_timestamp:
          type: integer
          format: int64
          description: Last event time in Unix milliseconds
      required:
        - id
        - client_order_id
        - account_id
        - symbol
        - strategy_id
        - is_primary
        - close_reason
        - side
        - status
        - type
        - origin_type
        - auto_close_type
        - time_in_force
        - working_type
        - size
        - filled
        - price
        - stop_price
        - post_only
        - reduce_only
        - close_position
        - price_protect
        - create_timestamp
        - entry_timestamp
        - event_timestamp
    FillHistoryEntry:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: Internal fill row ID
          minimum: 0
          example: 789
        trade_id:
          type: integer
          format: int64
          description: Public trade ID
          minimum: 0
          example: 987654
        order_id:
          type: integer
          format: int64
          description: Associated order ID
          minimum: 0
          example: 123456
        account_id:
          type: string
          format: uuid
          description: Account ID
          example: 019d1935-5bba-726e-a38e-838a892245f3
        symbol:
          type: string
          description: Trading pair
          example: BTC-USD
        side:
          type: string
          description: Trade side
          enum:
            - buy
            - sell
          example: buy
        role:
          type: string
          description: Liquidity role
          enum:
            - maker
            - taker
          example: maker
        price:
          type: string
          description: Execution price
          example: '50000'
        size:
          type: string
          description: Executed size
          example: '0.1'
        realized_pnl:
          type: string
          description: Realized PnL
          example: '0'
        fee:
          type: string
          description: Trading fee
          example: '2.5'
        fee_type:
          type: string
          description: Fee classification
          enum:
            - none
            - commission
            - liquidation
            - funding
        liquidation_fee:
          type: string
          description: Liquidation fee; omitted for non-liquidation fills
        entry_price:
          type: string
          description: Entry price for closing fills; omitted when unavailable
        close_price:
          type: string
          description: Close price for closing fills; omitted when unavailable
        margin:
          type: string
          description: Margin attributed to the fill; omitted when unavailable
        roi_pct:
          type: string
          description: Return on investment percentage; omitted when unavailable
        leverage:
          type: integer
          format: int32
          description: Leverage; omitted when unavailable
          minimum: 0
        timestamp:
          type: integer
          format: int64
          description: Fill time in Unix milliseconds
          example: 1709000001000
        auto_close_type:
          type: string
          nullable: true
          description: Associated order auto-close type; null for regular fills
          enum:
            - ''
            - liquidation
            - adl
            - bankrupt
            - if_transfer
            - vault_withdrawal
      required:
        - id
        - trade_id
        - order_id
        - account_id
        - symbol
        - side
        - role
        - price
        - size
        - realized_pnl
        - fee
        - fee_type
        - timestamp
        - auto_close_type
    LeverageRequest:
      type: object
      required:
        - symbol
        - leverage
      properties:
        symbol:
          type: string
          description: Trading pair symbol
          example: BTC-USD
          x-gitbook-description-html: <p>Trading pair symbol</p>
        leverage:
          type: integer
          minimum: 1
          maximum: 125
          description: New leverage value
          example: 10
          x-gitbook-description-html: <p>New leverage value</p>
        vault_id:
          type: string
          description: >-
            Optional vault ID. When provided, updates leverage for the vault
            account. Caller must be the vault leader.
          x-gitbook-description-html: >-
            <p>Optional vault ID. When provided, updates leverage for the vault
            account. Caller must be the vault leader.</p>
        sub_account_id:
          type: string
          format: uuid
          description: Optional active subaccount whose leverage should be updated. Mutually exclusive with vault_id.
          example: 019d1935-5bba-726e-a38e-838a892245f3
    LeverageResponse:
      type: object
      properties:
        leverage:
          type: integer
          description: New leverage value
          example: 10
          x-gitbook-description-html: <p>New leverage value</p>
        maxNotionalValue:
          type: string
          description: Maximum notional value at this leverage
          example: '1000000'
          x-gitbook-description-html: <p>Maximum notional value at this leverage</p>
        symbol:
          type: string
          description: Trading pair symbol
          example: BTC-USD
          x-gitbook-description-html: <p>Trading pair symbol</p>
        request_id:
          type: string
          description: Request correlation ID
    MarginModeRequest:
      type: object
      required:
        - symbol
        - marginMode
      properties:
        symbol:
          type: string
          description: Trading pair symbol
          example: BTC-USD
          x-gitbook-description-html: <p>Trading pair symbol</p>
        marginMode:
          type: string
          enum:
            - cross
            - isolated
          description: New margin mode
          example: isolated
          x-gitbook-description-html: <p>New margin mode</p>
        vault_id:
          type: string
          description: >-
            Optional vault ID. When provided, updates margin mode for the vault
            account. Caller must be the vault leader.
          x-gitbook-description-html: >-
            <p>Optional vault ID. When provided, updates margin mode for the
            vault account. Caller must be the vault leader.</p>
        sub_account_id:
          type: string
          format: uuid
          description: Optional active subaccount whose margin mode should be updated. Mutually exclusive with vault_id.
          example: 019d1935-5bba-726e-a38e-838a892245f3
    MarginModeResponse:
      type: object
      properties:
        marginMode:
          type: string
          description: New margin mode
          example: isolated
          x-gitbook-description-html: <p>New margin mode</p>
        symbol:
          type: string
          description: Trading pair symbol
          example: BTC-USD
          x-gitbook-description-html: <p>Trading pair symbol</p>
    ModifyMarginRequest:
      type: object
      required:
        - symbol
        - amount
        - modify_type
      properties:
        symbol:
          type: string
          description: Trading pair symbol
          example: BTC-USD
          x-gitbook-description-html: <p>Trading pair symbol</p>
        amount:
          type: string
          description: Amount to add or remove
          example: '500.00'
          x-gitbook-description-html: <p>Amount to add or remove</p>
        modify_type:
          type: string
          description: Modify type (add|remove)
          example: add|remove
          x-gitbook-description-html: <p>Modify type (add|remove)</p>
        vault_id:
          type: string
          description: >-
            Optional vault ID. When provided, modifies margin for the vault's
            isolated position. Caller must be the vault leader.
          x-gitbook-description-html: >-
            <p>Optional vault ID. When provided, modifies margin for the vault's
            isolated position. Caller must be the vault leader.</p>
        sub_account_id:
          type: string
          format: uuid
          description: Optional active subaccount whose isolated margin should be modified. Mutually exclusive with vault_id.
          example: 019d1935-5bba-726e-a38e-838a892245f3
    ModifyMarginResponse:
      type: object
      properties:
        symbol:
          type: string
          description: Trading pair symbol
          example: BTC-USD
          x-gitbook-description-html: <p>Trading pair symbol</p>
        sequence_id:
          type: integer
          format: int64
          description: Sequence ID
          example: 789012
          x-gitbook-description-html: <p>Sequence ID</p>
        message_id:
          type: string
          description: Message ID
          example: msg_xyz
          x-gitbook-description-html: <p>Message ID</p>
    SubAccount:
      type: object
      properties:
        account_id:
          type: string
          format: uuid
          description: Subaccount ID
          example: 019d1935-5bba-726e-a38e-838a892245f3
        parent_account_id:
          type: string
          format: uuid
          description: Parent/master account ID
          example: 019d1935-5bba-726e-a38e-838a892245f2
        name:
          type: string
          description: Display name
          example: Market making
        status:
          type: string
          description: Lifecycle status. Only active subaccounts can be selected for trading.
          enum:
            - pending
            - active
          example: active
        equity:
          type: string
          description: Current equity as a decimal string
          example: '1000'
        available_balance:
          type: string
          description: Balance available for new orders as a decimal string
          example: '800'
        unrealized_pnl:
          type: string
          description: Unrealized PnL as a decimal string
          example: '25'
        total_pnl:
          type: string
          description: Realized plus unrealized PnL as a decimal string
          example: '75'
        margin_used_pct:
          type: string
          description: Margin used as a percentage of equity, encoded as a decimal string
          example: '20'
      required:
        - account_id
        - parent_account_id
        - name
        - status
        - equity
        - available_balance
        - unrealized_pnl
        - total_pnl
        - margin_used_pct
    SubAccountsResponse:
      type: object
      properties:
        sub_accounts:
          type: array
          items:
            $ref: '#/components/schemas/SubAccount'
      required:
        - sub_accounts
  responses:
    MissingParameter:
      description: Missing required parameter
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error: MISSING_PARAMETER
            code: MISSING_PARAMETER
            msg: symbol parameter is required
      x-gitbook-description-html: <p>Missing required parameter</p>
    InvalidParameter:
      description: Invalid parameter value
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error: INVALID_PARAMETER
            code: INVALID_PARAMETER
            msg: invalid parameter
      x-gitbook-description-html: <p>Invalid parameter value</p>
    Unauthorized:
      description: Authentication is missing or invalid
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          examples:
            missing_authentication:
              summary: Missing authentication credentials
              value:
                error: authentication required
            invalid_authentication:
              summary: Invalid or expired authentication
              value:
                error: authentication failed
    Forbidden:
      description: The selected subaccount or vault is not accessible to the authenticated account
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error: sub-account access denied
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error: not found
      x-gitbook-description-html: <p>Resource not found</p>
    InternalError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  parameters:
    SubAccountID:
      name: sub_account_id
      in: query
      required: false
      description: Select an active subaccount owned by the authenticated master account. Requires JWT or API-wallet authentication.
      schema:
        type: string
        format: uuid
    TradingVaultID:
      name: vault_id
      in: query
      required: false
      description: Select a vault trading account. The authenticated account must be the vault leader. Mutually exclusive with sub_account_id.
      schema:
        type: string
paths:
  /v2/sub-accounts:
    get:
      tags:
        - Subaccounts
      summary: List subaccounts
      description: Lists the authenticated master account's pending and active subaccounts, including current equity, available balance, PnL, and margin-used percentage. Use an active account_id from this response as sub_account_id on supported trading and read endpoints.
      responses:
        '200':
          description: Subaccounts owned by the authenticated master account
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubAccountsResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalError'
  /v2/order:
    post:
      tags:
        - Orders
      summary: Create new order
      description: >
        Create a new order. Supports the following order types:


        | Type | Description |

        |------|-------------|

        | `limit` | Limit order at specified price |

        | `market` | Market order at best available price |

        | `stop` | Stop market order triggered at stop_price |

        | `stop_limit` | Stop limit order triggered at stop_price |

        | `take_profit` | Take profit market order |

        | `take_profit_limit` | Take profit limit order |

        | `trailing_stop_market` | Trailing stop market order that tracks price
        movement |
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrderRequest'
            examples:
              limit_order:
                summary: Limit buy order
                value:
                  symbol: BTC-USD
                  side: buy
                  type: limit
                  size: '0.1'
                  price: '50000.00'
                  time_in_force: GTC
              subaccount_limit_order:
                summary: Limit buy order for an owned subaccount
                value:
                  sub_account_id: 019d1935-5bba-726e-a38e-838a892245f3
                  client_order_id: subaccount-order-001
                  symbol: BTC-USD
                  side: buy
                  type: limit
                  size: '0.1'
                  price: '50000.00'
                  time_in_force: GTC
              market_order:
                summary: Market sell order
                value:
                  symbol: BTC-USD
                  side: sell
                  type: market
                  size: '0.1'
              stop_order:
                summary: Stop loss order
                value:
                  symbol: BTC-USD
                  side: sell
                  type: stop
                  size: '0.1'
                  stop_price: '48000.00'
                  reduce_only: true
              trailing_stop_order:
                summary: Trailing stop loss order
                value:
                  symbol: BTC-USD
                  side: sell
                  type: trailing_stop_market
                  size: '1'
                  callback_rate: '5'
                  activation_price: '67000'
                  working_type: contract_price
                  reduce_only: true
              trailing_stop_immediate:
                summary: Trailing stop with immediate activation
                value:
                  symbol: BTC-USD
                  side: sell
                  type: trailing_stop_market
                  size: '1'
                  callback_rate: '3'
                  working_type: contract_price
                  reduce_only: true
      responses:
        '201':
          description: Order created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateOrderResponse'
          x-gitbook-description-html: <p>Order created successfully</p>
        '400':
          $ref: '#/components/responses/InvalidParameter'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      x-gitbook-description-document:
        object: document
        data:
          schemaVersion: 9
        nodes:
          - object: block
            type: paragraph
            isVoid: false
            data: {}
            nodes:
              - object: text
                leaves:
                  - object: leaf
                    text: 'Create a new order. Supports the following order types:'
                    marks: []
                key: Piyl27rk0k8Z
            key: ilBXlW4cHd1L
          - object: block
            type: table
            isVoid: true
            data:
              records:
                Cea5w69TD5vN:
                  orderIndex: '0|hzzztr:'
                  values:
                    SYCty2suKDTt: q5ppzBqLkLmX
                    phtUDLq6H9LU: rGoC3fUavh8z
                D08hUSFzbRko:
                  orderIndex: '0|i0009r:'
                  values:
                    SYCty2suKDTt: 4peRPCI3PHqj
                    phtUDLq6H9LU: uG4X1UEytE2w
                iIwg4x23TTnk:
                  orderIndex: '0|i000wn:'
                  values:
                    SYCty2suKDTt: Unbs3vjtqJN5
                    phtUDLq6H9LU: UikvaYyC9A42
                NzbR6zXSYcn2:
                  orderIndex: '0|i001pz:'
                  values:
                    SYCty2suKDTt: jHsUI4b5OOnM
                    phtUDLq6H9LU: ncwI4Q5V3v29
                7Rrieq4dk0hg:
                  orderIndex: '0|i001sv:'
                  values:
                    SYCty2suKDTt: fvkYyccEGoPm
                    phtUDLq6H9LU: JUOD2chvVyK8
                eNT1ii3A9elb:
                  orderIndex: '0|i002ov:'
                  values:
                    SYCty2suKDTt: uqwqZrJomUkR
                    phtUDLq6H9LU: 6RLG4SDJRaHs
                InyKCne9OWwl:
                  orderIndex: '0|i00333:'
                  values:
                    SYCty2suKDTt: 222cad2vA6uk
                    phtUDLq6H9LU: t80SiAnoxAiZ
              definition:
                SYCty2suKDTt:
                  id: SYCty2suKDTt
                  title: Type
                  type: text
                  textAlignment: left
                phtUDLq6H9LU:
                  id: phtUDLq6H9LU
                  title: Description
                  type: text
                  textAlignment: left
              view:
                type: grid
                columns:
                  - SYCty2suKDTt
                  - phtUDLq6H9LU
                useNewSizing: true
                hideHeader: false
                stickyHeader: false
                columnWidths: {}
            nodes:
              - object: text
                leaves:
                  - object: leaf
                    text: ''
                    marks: []
                key: iyWrjoAsKOTU
            key: s8qtui2TtCd4
            fragments:
              - object: fragment
                nodes:
                  - object: block
                    type: paragraph
                    isVoid: false
                    data: {}
                    nodes:
                      - object: text
                        leaves:
                          - object: leaf
                            text: limit
                            marks:
                              - object: mark
                                type: code
                                data: {}
                        key: xz28IjzZKvuC
                    key: 9qan4TkGGKuL
                key: gnI1Wi4nSlnv
                fragment: q5ppzBqLkLmX
                type: table-cell
              - object: fragment
                nodes:
                  - object: block
                    type: paragraph
                    isVoid: false
                    data: {}
                    nodes:
                      - object: text
                        leaves:
                          - object: leaf
                            text: Limit order at specified price
                            marks: []
                        key: EDXMItKvI5Iv
                    key: UxiguR4Y55AB
                key: rcaQ108OrINh
                fragment: rGoC3fUavh8z
                type: table-cell
              - object: fragment
                nodes:
                  - object: block
                    type: paragraph
                    isVoid: false
                    data: {}
                    nodes:
                      - object: text
                        leaves:
                          - object: leaf
                            text: market
                            marks:
                              - object: mark
                                type: code
                                data: {}
                        key: bNirSDMghybr
                    key: MZyA6OSXxoFk
                key: HsACruVEw0Hn
                fragment: 4peRPCI3PHqj
                type: table-cell
              - object: fragment
                nodes:
                  - object: block
                    type: paragraph
                    isVoid: false
                    data: {}
                    nodes:
                      - object: text
                        leaves:
                          - object: leaf
                            text: Market order at best available price
                            marks: []
                        key: pYyJJZLn7qOi
                    key: 7At9kmw4jgMH
                key: FyC8ZByEoNdo
                fragment: uG4X1UEytE2w
                type: table-cell
              - object: fragment
                nodes:
                  - object: block
                    type: paragraph
                    isVoid: false
                    data: {}
                    nodes:
                      - object: text
                        leaves:
                          - object: leaf
                            text: stop
                            marks:
                              - object: mark
                                type: code
                                data: {}
                        key: vHIEU0sBGlzH
                    key: Flb5tYyPbDMW
                key: ly5IvzWGL9e1
                fragment: Unbs3vjtqJN5
                type: table-cell
              - object: fragment
                nodes:
                  - object: block
                    type: paragraph
                    isVoid: false
                    data: {}
                    nodes:
                      - object: text
                        leaves:
                          - object: leaf
                            text: Stop market order triggered at stop_price
                            marks: []
                        key: 0crOr1c1ihXY
                    key: e6Xbos46V5Ta
                key: 9AFHQQwxns4S
                fragment: UikvaYyC9A42
                type: table-cell
              - object: fragment
                nodes:
                  - object: block
                    type: paragraph
                    isVoid: false
                    data: {}
                    nodes:
                      - object: text
                        leaves:
                          - object: leaf
                            text: stop_limit
                            marks:
                              - object: mark
                                type: code
                                data: {}
                        key: s8Bo6WFEf1pA
                    key: bBZFIZwqCAUU
                key: jdJPg3eA6Jbr
                fragment: jHsUI4b5OOnM
                type: table-cell
              - object: fragment
                nodes:
                  - object: block
                    type: paragraph
                    isVoid: false
                    data: {}
                    nodes:
                      - object: text
                        leaves:
                          - object: leaf
                            text: Stop limit order triggered at stop_price
                            marks: []
                        key: 8SjiXMxACFBU
                    key: VRUoVCRF6Y2Y
                key: AClPfi5G85aq
                fragment: ncwI4Q5V3v29
                type: table-cell
              - object: fragment
                nodes:
                  - object: block
                    type: paragraph
                    isVoid: false
                    data: {}
                    nodes:
                      - object: text
                        leaves:
                          - object: leaf
                            text: take_profit
                            marks:
                              - object: mark
                                type: code
                                data: {}
                        key: 3BZ3HzzfujE7
                    key: I1CIQeQ0EWvi
                key: VMd7IswecIwj
                fragment: fvkYyccEGoPm
                type: table-cell
              - object: fragment
                nodes:
                  - object: block
                    type: paragraph
                    isVoid: false
                    data: {}
                    nodes:
                      - object: text
                        leaves:
                          - object: leaf
                            text: Take profit market order
                            marks: []
                        key: stO6RDDpcypA
                    key: mUKvgk2n1Qw8
                key: NQLPsVpgV7q4
                fragment: JUOD2chvVyK8
                type: table-cell
              - object: fragment
                nodes:
                  - object: block
                    type: paragraph
                    isVoid: false
                    data: {}
                    nodes:
                      - object: text
                        leaves:
                          - object: leaf
                            text: take_profit_limit
                            marks:
                              - object: mark
                                type: code
                                data: {}
                        key: cwKyvO1vXEg0
                    key: 6aTa7vnQ7K99
                key: NtnhMsZVk8zo
                fragment: uqwqZrJomUkR
                type: table-cell
              - object: fragment
                nodes:
                  - object: block
                    type: paragraph
                    isVoid: false
                    data: {}
                    nodes:
                      - object: text
                        leaves:
                          - object: leaf
                            text: Take profit limit order
                            marks: []
                        key: xRL71JMf9b8n
                    key: uh8R15P2OX25
                key: tdB7id06R4iy
                fragment: 6RLG4SDJRaHs
                type: table-cell
[...]
